#############
# IDE FILES #
#############
.metadata
*.iml
.idea/

###################
# DEVELOPER FILES #
###################
# COMPILED OUTPUT
#out/
target/

# WE DON'T WANT TO PUSH CREDENTIALS TO REPO
resources/credentials.properties

##############
# USER FILES #
##############

# ATTENDANCE SHEETS
*.xlsx